@charset "UTF-8";

@import url(header.css);

.listHome {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.listBody {
    box-sizing: border-box;/* 使元素的寬度包括padding margin, border */
    height: 100%;
    width: 50%;
    min-width: 12cm;
    position: relative;
    border: 10px black double;
}
.listTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-size: 3vw;
}
.listName {
    z-index: 1;
    display: flex;
    position: absolute;
    box-sizing:border-box;/* 使元素的寬度包括padding margin, border */
    height: 5%;
    width: 100%;
    font-size: 1vw;
    padding-right: 1.8%;
    background-color: white;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
}
.listContent {
    box-sizing:border-box;/* 使元素的寬度包括padding margin, border */
    width: 100%;
    height: 75%;
    overflow-y: scroll; /*上下滑動*/
    overflow-x: hidden;
    font-size: 3vw;
    padding-top: 3.3%;
    border-bottom: 3px black solid;
}
.list {
    display: flex;
    height: 30%;
    border-bottom: 3px silver solid;
}
.listClose {
    display: none;
}
.listName div, .list div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.imgDel {
    width: 10%;
}
.imgDel img {
    width: 50%;
}
.imgDelRight{
    width: 90%;
}
.listImg {
    width: 25%;
}
.listImg img {
    width: 100%;
    height: 100%;
}
.listPName{
    width: 40%
}
.listOther {
    width: 35%; 
}
.listOther div {
    width: 50%; 
}
.listPrice {
    height: 15%;
}
.price {
    box-sizing: border-box;/* 使元素的寬度包括padding margin, border */
    display: flex;
    float: right;
    width: 30%;
    height: 100%;
    border-left: 3px black solid;
}
.price div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    font-size: 2vw;
}
#totalPrice {
    width: 65%;
    color: red;
    font-size: 2vw;
    border-left: 2px black solid;
}
.confirmBuyHome{
    height: 8vh;
    display: flex;
    justify-content: center;
    width: 100%;
}
.confirmBuy{
    width: 50%;
    height: 100%;
    min-width: 12cm;
}
#checkout{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 16%;
    height: 100%;
    margin-right: 2%;
    font-size: 3vw;
    font-weight: 900;
    background-color: tomato;
    cursor: pointer; /*滑鼠特效*/
}
#checkout:hover{
    box-sizing:border-box; /* 使元素的寬度包括padding margin, border*/
    border: 5px orange solid;
    color: papayawhip;
}