/*
<div class="InputTextImitateGoogle_body">
    <div id="InputData_XXX" class="InputTextImitateGoogle_close">請輸入帳號</div>
    <div class="InputTextImitateGoogle_OutsideFrameUseDiv">
        <input id="XXX" name="XXX" class="InputTextImitateGoogle_input" type="text">
    </div>
</div>
<br>
*/
/*顏色自訂請改
.InputTextImitateGoogle_open{}
.InputTextImitateGoogle_close{}
.InputTextImitateGoogle_input{}
*/
@charset "UTF-8";

.InputTextImitateGoogle_body{
    height: 15%;
    width: 100%;
    box-sizing:border-box; /* 使元素的寬度包括padding margin, border*/
    border:1px black solid;

    display: block;
    position: relative;/*相對位置，position: absolute用*/
}
.InputTextImitateGoogle_close{
    z-index: 1;
    transition: 0.05s;/*變化時間*/

    display: inline-flex;
    align-items: center;/*垂直置中*/
    position: absolute;
    
    height: 100%;
    background-color:#fff;

    font-size: 2vw;
    font-weight: 900; /*字寬度*/
    white-space:nowrap; /*不換行*/
    overflow: hidden; /* 超過範圍隱藏 */
    pointer-events: none;/*使div不被點擊到 from: href = https://www.oxxostudio.tw/articles/201409/pointer-events.html*/
}
.InputTextImitateGoogle_open{
    z-index: 1;
    transition: 0.05s;/*變化時間*/

    position: absolute; /*絕對位置，position: relative的左上角為起點，預設是body*/
    transform: translate(1vw, -50%); 

    font-size: 2vh;
    white-space:nowrap; /*不換行*/
    padding: 0 0.2vh; /*線和文字間的空白*/
    background-color:#fff;
}
.InputTextImitateGoogle_OutsideFrameUseDiv{
    display: inline-flex;
    align-items: center;
    position: absolute; /*絕對位置，position: relative的左上角為起點，預設是body*/

    height: 100%;
    width: 100%;
}
.InputTextImitateGoogle_input{
    width: 100%;
    height:50%;
    box-sizing: border-box; /* 使元素的寬度包括padding margin, border*/
    border: none; /*取消邊框*/
    outline:medium; /*取消點擊後的邊框*/

    font-size: 3vh;
}