@charset "UTF-8";
.listBody 
{
    width: 100%;
    height: 100%;
    position: relative;
    border: 10px black double;
}
/*標題*/
.listTitle 
{
    height: 10%;
    font-size: 40px;
}
/*名稱*/
.listName 
{
    width: 100%;
    height: 5%;
    z-index: 1;
    display: flex;
    position: absolute;
    font-size: 1vw;
    padding-right: 1.8%;
    background-color: white;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
}
/*商品內容*/
#listContent 
{
    width: 100%;
    height: 80%;
    overflow-y: scroll; /*上下滑動*/
    overflow-x: hidden;
    font-size: 30px;
    padding-top: 3.3%;
    border-bottom: 3px black solid;
}
.list {
    display: flex;
    height: 30%;
    border-bottom: 3px silver solid;
}
.listClose {
    display: none;
}
.listName div, .list div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.imgDel
{
    width: 10%;
}
.imgDel img
{
    width: 30%;
}
.imgDel img:hover
{
    width: 60%;
}
.imgDelRight
{
    width: 90%;
}
.listImg
{
    width: 25%;
}
.listImg img
{
    width: 100%;
    height: 100%;
}
.listPName
{
    width: 40%
}
.listOther
{
    width: 35%; 
}
.listOther div
{
    width: 50%; 
}
/*結帳*/
#summary
{
    width: 100%;
    height: 10%;
    display: flex;
}
#total
{
    width: 30%;
    height: 100%;
    background-color: burlywood;
    font-size: 30px;
}
#totalPrice
{
    width: 50%;
    height: 100%;
    color: red;
    font-size: 40px;
    border-left: 2px black solid;
    border-right: 2px black solid;
}
#confirmBuy
{
    width: 20%;
    height: 100%;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer; /*滑鼠特效*/
    background-color: tomato;
}
#confirmBuy:hover
{
    border: 5px orange solid;
    color: papayawhip;
}