/*最後更新:2021/09/02*/
/*
<header>
<!--回到首頁-->
<div id="header-home">
    <a href="Homepage.html"><img src="./images/home_removebg.png"></a>
</div>
<!--其他功能-->
<div id="header-menu">
    <div class="header-menu-isShow"><a href="SignIn.html">登入</a></div>
    <div class="header-menu-isShow"><a href="Maintenance.html">會員管理</a></div>
    <div class="header-menu-isShow"><a href="BuyCar.html">購物車</a></div>
</div>
</header>
*/
header{
    width: 100%;
    height: 5vh; /* ***** */
    min-height: 0.5cm;
    display: inline-block;
    box-sizing: border-box; /* 使元素的寬度包括padding margin, border*/
}
#header-home{
    height: 100%;
    float: left; /*靠左*/
    display: flex;
    align-items: center; /*flex垂直置中*/
    justify-content: center; /*flex水平置中*/
}
#header-home a{
    height: 100%;
}
#header-home a:hover{ /*滑過放大*/
    height: 125%;
}
#header-home img{
    height: 100%;
}
#header-menu{
    width: 30%;
    min-width: 4.5cm;
    height: 100%;
    float: right; /*靠右*/
}
.header-menu-isShow{
    width: 33%;
    height: 100%;
    float: right; /*靠右*/
    display: flex;
    align-items: center; /*flex垂直置中*/
    justify-content: center; /*flex水平置中*/
    box-sizing: border-box; /* 使元素的寬度包括padding margin, border*/
    margin: 0 -0.1vw; /*邊線切齊 border/2 */
    border: 0.2vw black dashed;/*邊線: 黑色 虛線*/
    font-size: 1.5vw;
    /*white-space:nowrap; 字不換行*/
    /*overflow: hidden; 超過範圍隱藏 */
}